<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Сайт Раздельный Сбор</title>
        <link rel="stylesheet" href="../static/css/header.css">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="stylesheet" href="../static/css/main_index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Bevan:ital@0;1&family=Geologica:wght@100..900&display=swap" rel="stylesheet">
        <script defer src="../js/burger.js"></script>
    </head>
    <body>
        <div class="body-wraper">
            <header class="header open">
                <div class="container header__container">
                    <a href="../template/index.html" target="_self" class="logo">
                        Раздельный сбор - Югра<!-- <img class="logo__img" src="/img/logo.svg" alt="Логотип"> -->
                    </a>
    
                    <button class="header__burger-btn" id="burger">
                        <span></span><span></span><span></span>
                    </button>
    
                    <nav class="menu" id="menu">
                        <ul class="menu__list">
                            <!-- <li class="menu__item">
                                <a class="menu__link" target="_self" href="../">
                                    Точки сбора
                                </a>
                            </li> -->
                            <li class="menu__item">
                                <a class="menu__link" href="../template/map.html" target="_self">
                                    Карта
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="../template/register.html" target="_self">
                                    Зарегистрироваться
                                </a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="../template/login.html" target="_self">
                                    Войти
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
            <main>
                <div class="info_plus">
                    <div class="add_plus one">
                        <div class="plus-text">
                            <p>
                                Исключение загрязнения природы.
                            </p>
                        </div>
                        <div class="plus-image"></div>
                        
                    </div>
                    <div class="add_plus two">
                        <div class="plus-image"></div>
                        <div class="plus-text">
                            <p>
                                Дополнительный доход.
                            </p>
                        </div>
                    </div>
                    <div class="add_plus three">

                        <div class="plus-text">
                            <p>
                                Рациональное применение ресурсов.
                            </p>
                        </div>

                        <div class="plus-image"></div>
                        
                    </div>
                    <div class="add_plus four">
                        <div class="plus-image"></div>
                    
                        <div class="plus-text">
                            <p>
                                Сокращение количества свалок.
                            </p>
                        </div>
    
                    </div>
                    <div class="add_plus five">
                        <div class="plus-text">
                            <p>
                                Улучшение экономической ситуации страны.
                            </p>
                        </div>
                        <div class="plus-image"></div>
                    </div>
                </div>
                <div class="two_quastion">
                    <div class="block_main_quastion">
                        <h1>Зачем сортировать мусор: какова польза от раздельного сбора?</h1>
                        <p>В организации общей системы разделения мусора лежит идея самостоятельной сортировки отходов каждого человека, понимание важности процесса всего населения.
                            Если осуществлять бытовое разделение отходов, то это поможет исключить затраты на промышленную сепарацию, сохранить экологию родного края.</p>
                    </div>
                    <div class="block_second_quastion">
                        <h1>Как обстоит ситуация в мире?</h1>
                        <p>Разделение отходов в странах Европы, а также в Америке и в Японии регламентируется конкретными законами. В России только с 2019 года начала действовать реформа по обращению с бытовым мусором. Для этой цели была предусмотрена установка контейнеров разного оттенка для смешанного мусора, а также для разделения вторичного сырья. Для сбора пластика чаще всего используются сетчатые контейнеры.</p>
                    </div>
                </div>
                <div class="image_util"><img src="../static/img/утилизация.jpg"></div>
                <div class="ttwo_quastion">
                    <div class="block_second_quastion">
                        <h1>Польза для окружающей природы</h1>
                        <p>Стоит понимать, что остатки пищи, бумага, листва и прочая органика быстро разлагается, не оказывая никакого отрицательного воздействия на экосистему. Но такие опасные отходы, как батарейки, аккумуляторы, покрышки, градусники, лекарства, техника, химические средства, лакокрасочные изделия, пластик, должны обязательно сортироваться и перерабатываться на специальных предприятиях, ведь они способны загрязнять почву и близлежащие водоемы. К примеру, одна батарейка засорит около 25 м2 почвы.</p>
    
                    </div>
                    <div class="block_main_quastion">
                        <h1>Как самостоятельно организовать раздельный сбор мусора?</h1>
                        <p>Помимо разделения отходов в домашних условиях, необходимо узнать, какие компании в районе занимаются приемом вторсырья. Кроме того, можно организовать собрание жильцов дома, чтобы заручиться их поддержкой, собрать все необходимые документы и договориться об установке контейнеров для раздельного сбора отходов на придомовой территории. Также потребуется подписать соглашение о регулярном вывозе мусора. При активной позиции граждан точно получится добиться улучшения ситуации по сбору и сортировке мусора.</p>
                    </div>
                </div>
            </main>
        </div>
        
    </body>
</html>