<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Сайт Раздельный Сбор</title>
        <link rel="stylesheet" href="../static/css/login.css">
        <link rel="stylesheet" href="../static/css/normalize.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Bevan:ital@0;1&family=Geologica:wght@100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <form target="_self" action="../template/index.html" target="_blank">
            <button href="../template/index.html">
                <span></span><span></span>
            </button>
        </form>
        <div class="div_login">
            <div class="login-container">
                <h2>Вход в аккаунт</h2>
                <form action="#" method="post">
                    <input type="text" name="username" placeholder="Логин" required>
                    <input type="password" name="password" placeholder="Пароль" required>
                    <a class="exist_account" href="../template/register.html">Ещё нет аккаунта?</a>
                    <input type="submit" value="Войти">
                </form>
            </div>
        </div>
    </body>
</html>